<div class="center jumbotron">
  <h1>アプリ名</h1>

  <h2>
    自分の名刺作ってみませんか？
  </h2>

  <h3>
  画像を作成・ダウンロードするだけで、オンライン会議に使える名刺が作れます
  </h3>

  <%= link_to "テンプレート１（使ってみる）", '#', class: "btn btn-lg btn-info" %>
</div>