<%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, class:"micro_form", placeholder: "伝えたい内容を入力してください" %>
    </div>
    <br><%= f.submit "投稿", class: "btn w-100", onfocus:"this.blur();" %>
  <% end %>