<% provide(:title, "作成画面") %>
<div class="result jumbotron">
  <h2>名刺の作成が完了しました！</h2>
  <h3>気に入っていただけましたら是非ダウンロードしてご活用ください！</h3>
  <div id="card_logo">
  
    <iframe src='/create' width="1280" height="720" scrolling="no" frameborder="0" class="template_img" 
    style=
  "-moz-transform:scale(0.5,0.5);
    -webkit-transform:scale(0.5,0.5);
    -o-transform:scale(0.5,0.5);
    -ms-transform:scale(0.5,0.5);
    transform:scale(0.5,0.5); 
    position :relative;
    transform-origin: center bottom">
    </iframe>

    <%= image_tag asset_path('card.png'), size: "640x360", class:"template_img"%>
    <br>
  </div>
  <%= button_to 'ダウンロード', '/download', method: :get, class: 'btn btn-info w-640' %>
</div>