@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;



/*universal*/

body {
    background-color: rgb(202, 244, 250);
    padding-top: 110px;
    overflow-y: scroll;
    transform: translateZ(0);
}

section {
    overflow: auto;
}
  
textarea {
    resize: vertical;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-family: serif;
}
  
h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}
  
  
p{
    font-size: 1.1em;
    line-height: 1.7em;
}


/*header*/

header{
    height:70px;
    font-family: serif;
}

#logo {
    font-family: serif;
    float: left;
    margin-right: 10px;
    margin-left: 5%;
    font-size: 2.2em;
    color: rgb(130, 194, 247);
    letter-spacing: -1px;
    padding-top: 11.5px;
    font-weight: bold;
    &:hover {
      color: rgb(59, 113, 138);
      text-decoration: none;
    }
  }

.sign_logo{
  font-family: serif;
  overflow: hidden;
  float: right;
  margin-right: 5%;
  padding-top: 5px;
  line-height: 30px;
  font-size: 1.4em;
  white-space: nowrap;
  list-style-type: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
}


/*home画面*/

.center {
  text-align: center;
  background-color: white;
  margin-top: 175px;

  h1{
    font-size: 4.5em;
    font-weight: bold;
    line-height: 2;
    text-shadow: 0.7px 0.7px 0.7px;
  }
  h3{
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
}

.template{
  text-align: center;
  line-height: 8;

  p{ 
    line-height: 6;
  }
}

.template_img{
  box-shadow: 4px 4px 10px;
}

.w-480{
  width: 480px;
}


/*form入力画面*/

.form{
  text-align: center;
  background-color: white;
  margin-top: 165px;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 17px;
}
  
#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}
    
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
  
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
    
#session_remember_me {
  width: auto;
  margin-left: 0;
}
  


/*名刺完成画面*/

.result{
  text-align: center;
  background-color: white;
  margin-top: 165px;

  h1 {
    font-size: 4.5em;
    font-weight: bold;
    line-height: 2;
  }
  h3{
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-top: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
}
  
#card_logo{
  text-align: center;
  line-height: 35;
}

.w-640{
  width: 640px;
}
