@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;



/*universal*/

body {
    background-color: rgb(202, 244, 250);
    padding-top: 110px;
    overflow-y: scroll;
    transform: translateZ(0);
    -webkit-overflow-scrolling: touch;
}
section {
    overflow: auto;
} 
textarea {
    resize: vertical;
}



/* typography */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: serif;
}
h2, h3, h4, h5, h6 {
    line-height: 1;
    font-family: serif;
    text-align: center;
}
p{
    font-size: 1.1em;
    line-height: 1.7em;
}


/*header*/
header{
    height:70px;
    font-family: serif;
}
#logo {
    font-family: serif;
    float: left;
    margin-right: 10px;
    margin-left: 5%;
    font-size: 2.2em;
    color: rgb(130, 194, 247);
    letter-spacing: -1px;
    padding-top: 11.5px;
    font-weight: bold;
    &:hover {
      color: rgb(10, 126, 180);
      text-decoration: none;
    }
  }
.sign_logo{
  font-family: serif;
  overflow: hidden;
  float: right;
  margin-right: 5%;
  padding-top: 5px;
  line-height: 30px;
  font-size: 1.4em;
  white-space: nowrap;
  list-style-type: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
}
ul.nav a:hover { color: rgb(24, 24, 24) !important; }

.navbar-toggle{
  margin-right: 5%;
  padding-top: 11.5px;
  background-color: rgb(189, 184, 184);
  border: white;
}


/*home画面(ログイン前)*/
.home{
  text-align: center;
  background-color: white;
  margin-top: 30px;
  h1 {
    font-weight: bold;
  } 
  h2{
    margin-top: 80px;
    font-size: 2em;
  }
}


/*home画面(ログイン後)*/
.row{
  font-family: serif;
}
.profile{
  h1{
    text-align: left;
    font-size: 2.6em;
  }
  h2{
    text-align: left;
    font-size: 1.5em;
  }
}
.stats{
  text-align: right;
  font-size: 1.1em;
}
/*sidebar*/
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}



/*新規登録画面*/
.register{
  h3{
    line-height: 60px;
  }
}
.form_register{
  font-family: serif;
  text-align: center;
  font-size: 1.5em;
  margin-top: 40px;
  line-height: 2;
}
.w-100{
  margin-top: 20px;
  font-size: 1.3em;
  width: 100%;
  line-height: 1.1;
  color: black;
  background-color: white;
  border: solid 3px #67c5ff;
  border-radius: 8px;
  &:hover{
    background: #67c5ff;
    color: white;
  }
  &:active::before{
    color: white;
    border: solid 3px #44b3f8;
    }
}


/*ログイン画面*/
.login{
  margin-top:50px;
  p{
    margin-top: 40px;
    text-align: right;
  }
}
.form_login{
  font-family: serif;
  text-align: center;
  font-size: 1.5em;
  line-height: 2;
}
.checkbox{
  text-align: left;
  margin-left: 27px;
}
input[type=checkbox] {
  position: relative;
  top: 8.5px;
  transform: scale(1.5);
}



/*ユーザーリスト*/
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
.user_name{
  letter-spacing: 2.0px;
  font-size: 1.8em;
}

/*home画面(古)*/
.center {
  text-align: center;
  background-color: white;
  margin-top: 175px;
  h1{
    font-size: 4.5em;
    font-weight: bold;
    line-height: 2;
    text-shadow: 0.7px 0.7px 0.7px;
  }
  h3{
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
}

.twitter {
  display: inline-block;
  width: 120px;
  height: 40px;
  padding: 0.2em;
  border: solid 3px #1091e7;
  border-radius: 10px;
  .fa-twitter{
    color: #1091e7;
  }
  a{
    display: block;
  }
  &:hover{
    .fa-twitter{
    color: white;
    }
    background-color: #1091e7;
  }
}

.facebook {
  display: inline-block;
  width: 120px;
  height: 40px;
  padding: 0.2em;
  margin: 0px 15px;
  color: #202781;
  border: solid 3px #202781;
  border-radius: 10px; 
  .fa-facebook{
    color: #202781;
  }  
  a{
    display: block;
  } 
  &:hover{
    .fa-facebook{
    color: white;
    }
    background-color: #202781;
  }
}

.template{
  text-align: center;
  line-height: 8;
  p{ 
    line-height: 6;
  }
}
.template_img{
  box-shadow: 4px 4px 10px;
}
.w-480{
  font-size: 20px;
  width: 480px;
  height: 48px;
  border: solid 3px #67c5ff;
  color: black;
  line-height: 30px;
  border-radius: 8px;
  background-color: white;
  &:hover{
    background-color: #67c5ff;
    color: white;
  }
  &:active{
    box-shadow: 0px 0px;
    padding: 0.30em 0em;
  }
}


/*form入力画面*/
.form{
  text-align: center;
  background-color: white;
  margin-top: 165px;
  line-height: 2.5;
  h2{
    font-size: 2.0em;
    letter-spacing: 2.5px;
  }
  h3{
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
  ::placeholder{
    font-size: 1.2em;
  }
}

.form_content{
  line-height: 1.6;
  font-size: 1.3em;
  font-weight: bold;

}


.submit {
  font-size: 1.5em;
  padding: 0.2em;
  width: 100%;
  color: black;
  background-color: white;
  border: solid 3px #67c5ff;
  line-height: 1.5;
  border-radius: 8px;
  &:hover{
    background: #67c5ff;
    color: white;
  }
}

/*名刺完成画面*/

.result{
  text-align: center;
  background-color: white;
  margin-top: 165px;

  h1 {
    font-size: 4.5em;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 2.5px;
  }
  h3{
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-top: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
}
  
#card_logo{
  text-align: center;
  line-height: 5;
}

.w-640{
  font-size: 1.5em;
  padding: 0.2em;
  width: 640px;
  color: black;
  background-color: white;
  border: solid 3px #67c5ff;
  line-height: 1.5;
  border-radius: 8px;
  box-shadow: 0px 0px;
  &:hover{
    background: #67c5ff;
    color: white;
  }
  &:active::before{
    color: white;
    border: solid 3px #44b3f8;
    }
}